* {
    box-sizing: border-box;
}
@font-face {
    font-family: Pixeboy;
    src: url("assets/fonts/Pixeboy.ttf");
    font-weight: normal;
    font-style: normal;
}
body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    user-select: none;
    overflow: hidden;
    background-image: url("assets/outer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.drag-area {
    height: 40px;
    -webkit-app-region: drag;
}

.app {
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.widget{
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;
}

.fishbubbles {
    position: absolute;
    left: -5px;
    top: 10px;
    width: 60px;
    z-index: 3;
}

.whale {
    position: absolute;
    right: -25px;
    bottom: 0px;
    width: 110px;
    z-index: 3;
}

.bubbles {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 55px;
    opacity: 0.8;
}

.fishbubbles,
.whale,
.bubbles{
    pointer-events: none;
}

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

#calendar {
    width: 190px;
    height: 140px;

    background-image: url("assets/inner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#day {
    color: #FFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #367591;
    font-family: Pixeboy;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8
}

#month {
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #367591;
    font-family: Pixeboy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8
}